<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="courses" *ngIf="courses[0] as course">
  <course-card [course]="course" (courseSelected)="selectCourse($event)">
    <div class="course-image">
      <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
      <h5>Total lessons: 5</h5>
    </div>
    <div class="course-description">{{ course.longDescription }}</div>

    Edit description: <textarea></textarea>
  </course-card>
  <course-card [course]="course" (courseSelected)="selectCourse($event)">
    <div class="course-image">
      <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
    </div>
    <h5>Total lessons: 5</h5>
  </course-card>
  <course-card [course]="course" (courseSelected)="selectCourse($event)">
    <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
    <h5>Total lessons: 5</h5>
  </course-card>
  <course-card [course]="courses[1]" (courseSelected)="selectCourse($event)">
    <h5>Total lessons: 10</h5>
  </course-card>
</div>

<!-- <div class="courses" #container>
  @for (course of courses; track course.id) {
  <course-card [course]="course" (courseSelected)="selectCourse($event)" />
  } @empty {
  <h1>No courses found!</h1>
  }
</div> -->

<!-- <div class="courses">
  <course-card
    *ngFor="
      let course of courses;
      index as i;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
    (courseSelected)="selectCourse($event)"
    [course]="course"
    [cardIndex]="i + 1"
  />
</div> -->
